:root {
  font-family: 'Poppins', sans-serif;
}
*{
  font-family: 'Poppins', sans-serif;

}

@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

.typewriter {
  overflow: hidden;
  border-right: .15em solid rgb(23, 170, 214);
  white-space: nowrap;
  margin: 0 auto;
  animation: typewriter 5s steps(100) ;
}
